@include smScreen {
  main {
    .container {
      .wrap {
        .user_wrap {
          width: 90%;
        }
      }
    }
    .form_wrap {
      form {
        padding: 15px 25px;
        max-width: 80%;
        label,
        .radio_block,
        select {
          width: 100%;
        }
        .btn_block {
          justify-content: space-between;
          width: 75%;
          button {
            font-size: 16px;
            padding: 4px 10px;
          }
        }
      }
      .outer {
        .inner {
          width: 70%;
          height: 40%;
          left: 15%;
        }
      }
    }
  }
}
